
.box8 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    width: 100%;
}
.box8 p {
    margin: 0; 
    padding: 0;
}
.hyou {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #ffc06e;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #ffc06e;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    width: 100%;
}
.hyou p {
    margin: 0; 
    padding: 0;
}
.footer {
    height: 120px;
    width: 100%;
    background-color: #2f3a44;
    color: right;
    padding-top: 60px;
}
.footer-left {
    float: left;
    color: rgb(253, 251, 251);
}
.footer-right {
    float: right;
    padding-top: 50px;
    color: cornsilk;
}
.footer-left p {
    margin-bottom: 8px;
}
.nui{
    background: #ffc06e;  
}
.box9 {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #ffebe9;
    border-top: solid 10px #ff7d6e;
}
.box9 p {
    margin: 0; 
    padding: 0;
}