body{
    background-image: url("TSU1994097_TP_V.jpg");
    width: 100%;
}
.postform{
    background-color: rgb(253, 147, 108);
}
.result{
    background-color: rgb(255, 173, 144);
}
.posts{
    background-color: rgb(253, 147, 108);
}